@media (max-width: 1040px) {
    body {
      width: 95%;
      margin: auto;
    }
  
    .nav-links .nav-cat .sky-blue h5 {
      display: none;
    }
  
    .footer-content {
      width: 95%;
      margin: auto;
    }
  }
  @media (max-width: 980px) {
    .nav-links,
  .nav-main {
      display: none;
    }
  
    .nav-hamburger {
      padding: 0 2.5%;
      display: inline-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  
    .main-content {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
    }
    .main-content .main-content-right .advert {
      display: none;
    }
  }
  @media (max-width: 720px) {
    footer .footer-content {
      width: 95%;
      margin: auto;
    }
    footer .footer-content .signup-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    footer .footer-content .signup-form label,
  footer .footer-content .signup-form input,
  footer .footer-content .signup-form button {
      margin-bottom: 8px;
    }
    footer .footer-content .footer-btns {
      margin: 20px 0;
    }
    footer .footer-content .footer-btns hr {
      width: 100%;
    }
    footer .footer-content .footer-btns .footer-link-1,
  footer .footer-content .footer-btns .footer-link-2,
  footer .footer-content .footer-btns .footer-link-3 {
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    footer .footer-content .footer-btns .footer-link-1 h5,
  footer .footer-content .footer-btns .footer-link-2 h5,
  footer .footer-content .footer-btns .footer-link-3 h5 {
      font-size: 1rem;
      font-weight: 200;
      padding: 5px;
      color: #383838;
    }
    footer .footer-content .socials {
      display: flex;
      margin: 10px 0;
    }
    footer .footer-content .socials .apps {
      margin: 10px 20px;
    }
    footer .footer-content .socials .apps h3 {
      font-weight: 300;
      font-family: "Titillium Web", sans-serif;
      font-size: 1.2rem;
      margin-bottom: 12px;
    }
    footer .footer-content .socials .apps .app-img {
      display: flex;
      flex-wrap: wrap;
    }
    footer .footer-content .socials .apps .app-img img {
      margin-right: 20px;
      margin-bottom: 5px;
      width: 100px;
    }
    footer .footer-content .socials .apps .social-img {
      display: flex;
    }
    footer .footer-content .footer-end a h3 {
      font-size: 1rem;
    }
    footer .footer-content .footer-end a h3 i {
      font-size: 1.6rem;
      margin-left: 8px;
    }
  }
  @media (max-width: 620px) {
    .nav-hamburger .logo {
      font-size: 2.2rem;
    }
  
    .main-content {
      display: flex;
      flex-direction: column;
    }
    .main-content .main-content-left .main-content-sec .main-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    .main-content .main-content-right .advert {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .main-content {
      display: flex;
      flex-direction: column;
    }
    .main-content .main-content-left .main-content-sec .main-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }